body {
    position: relative;
    margin: 0 auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
    background-color: #efefef;
    background-image: url("../images/ignasi_pattern_s.png");
    /* margin-bottom: 60px; Margin bottom by footer height */
}
html {
    position: relative;
    min-height: 100%;
}



.navbar{
    padding: 0;
}

.navbar-light .navbar-brand{
    color: #efefef;
}

.name {
    padding: 25px 20px;
    background-color: #4aaaa5;
    align-content: center;
    color: white;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#content-container{
    background-color: white;
    padding: 20px;
    margin: 10px auto 30px auto;
}

.profile_img{
    float: left;
    padding: 0 15px 15px 0;
    width: 226px;
    height: auto;
}

footer {
	/*position: fixed;*/
	bottom: 0;
	color: #cccccc;
	background-color: #666666;
	border-top: 5px solid;
	border-top-color: #4aaaa5;
    height: 70px;
    width: 100%;
	text-align: center;
	font-size: 10px;
	padding-top: 20px;
}

/* Protfolio Section start */

#protfolio_section{
    width: 760px;
}

.protfolio_item {
    float: left;
	width: 280px;
    height: 200px;
    position: relative;
    padding-right: 21px;
    padding-bottom: 230px;
}
.h3, h3{
    font-size: 1em;
}
.item_header {
    position: relative;
    size: 24px;
	top: -60px;
	text-align: center;
	background-color: #4aaaa5;
	padding: 1em;
	color: #ffffff;
	z-index: 0;
}

@media screen and (min-width: 960px) {

#main-container{
    margin: auto;
    width: 960px;

}
}

@media screen and (max-width: 768px) {

    #protfolio_section{
        width: 90%;
        padding: 0 3%;
    }
}

@media screen and (max-width: 640px) {


    .profile_img{
        float: left;
        padding: 0 5% 10px 5%;
        width: 100%;
        height: auto;
    }


    #protfolio_section{
        width: 90%;
        position: relative;
        padding: 0 5%;
    }

    .protfolio_item {
        margin: auto;
        height: auto;
        width: auto;
        float: none;
        padding: 0 5%;

    }

    .protfolio_img{
        width:100%;
    }

}